@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&display=swap');

* {
  margin: 0;
  padding: 0;
  border: none;
}

body {
  font-family: 'Open Sans', sans-serif;
  font-weight: 100;
}

h1 {
  font-family: 'PT Serif', sans-serif;
}

h4 {
  letter-spacing: 3px;
}

/* contact links */

#contact-links {
  display: flex;
  font-size: 90%;
  justify-content: right;
}

#contact-links li {
  list-style-type: none;
  margin-right: 30px;
}

#contact-links a {
  text-decoration: none;
  color: inherit;
}

#contact-links i {
  color: #a3780d;
}

/* menu links */

#menu {
  font-size: 110%;
  display: flex;
  align-items: center;
  justify-content: center;
}

#menu img {
  width: 250px;
}

#menu li {
  float: left;
  list-style-type: none;
  margin-right: 30px;
}

#menu a {
  text-decoration: none;
  color: inherit;
}

#menu a:hover {
  border-bottom: 1px solid #3a3a3a;
}

#banner {
  background-image: url(../img/startseite.jpg);
  background-size: 120%;
  background-position: -190px -100px;
  background-repeat: no-repeat;
  height: 75vh;
  width: 100%;
  position: relative;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #000000;
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  font-size: 1.5rem;
  /* text-transform: uppercase; */
  letter-spacing: 2px;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
}

#cards > div {
  float: left;
  width: 25%;
  height: 380px;
  text-align: center;
  /* height: 0;
  padding-bottom: 25%;
  text-align: center; */
}

.card-content {
  position: relative;
}

.card-content div {
  background-color: rgba(255, 255, 255, 0.8);
  padding: 20px;
  position: absolute;
  bottom: 0;
  height: 50%;
  width: 100%;
}

.card1 {
  background-color: #a3780d;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-direction: column;
}

.card2 {
  background-image: url(../img/kerze.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.card3 {
  background-image: url(../img/blumen.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.card4 {
  background-image: url(../img/erinnerungsbuch.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

#form {
  color: #fff;
  background-color: #808080;
  padding: 20px;
  display: flex;
  text-align: center;
}

/* 
.banner::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: -1;
} */

.italic {
  font-style: italic;
  text-decoration: none;
}

.award-color {
  color: #a3780d;
}

.bold {
  font-weight: 700;
}

.center {
  text-align: center;
}

.button-style {
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  padding: 1rem 2rem;
  color: #a3780d;
  background-color: rgba(255, 255, 255, 0.8);
  border: 3px solid #a3780d;
}

button {
  font-family: 'Poppins', sans-serif;
  font-size: 1rem;
  font-weight: 400;
  padding: 1rem 2rem;
  background-color: #a3780d;
  color: #fff;
  cursor: pointer;
  text-transform: uppercase;
  border: none;
}

/* .button-style:hover {
  background-color: #fff;
  color: #a3780d;
  transition: all 0.3s ease-in-out;
} */
